 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">

    <title src="images/logo.jpeg">Login</title>


   
    <style>
        .header-content a.login{
    font-size: 27px;
    color: rgb(193, 149, 4);
    margin-top: 13px;
}
nav ul{
    display: flex;
    list-style: none;
    margin-left:100px ;
    margin-top: 13px;
}
    </style>
</head>

<body>

    <header>
        <div class="container">
            <div class="header-content">
                <a href="/Home" class="login"> shoppingcart </a>

                <nav>
                    <nav>
                        <!-- <ul id="links">
                            <li> <a href="/login"> Sign in </a></li>
                            <li> <a href="/register"> Sign up </a></li>
                        </ul> -->
                        <ul id="user_info">
                            <li><a href="#" id="user"></a> </li>
                            <li class="shoppingcart">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span class="badge"></span>
                                <div class="carts_products">
                                    <div></div>
                                    <a href="/cart"> show all product </a>
                                </div>
                            </li>
                            <li><a href="/Home" id="logout"> logout </a></li>
                        </ul>

                    </nav>

                </nav>
            </div>
        </div>
    </header>

    <section class="home">
        <div class="container">
            <div class="products">
            </div>
        </div>
    </section>


   
</body>

</html>
 

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.Name }}</span>
  <span>{{ item.Price }}</span>
  <span>{{item.Description}}</span>
</div>