
<!-- <app-product-details (item)="getProductFromCart($event)"></app-product-details> -->
<a class="btn btn-primary" routerLink="Payment">Payment</a>

 
<section class="home">
    <div class="container">
        <div class="products">
        </div>
    </div>
    <ng-container class="uk-container panier" *ngFor="let prd of cartProducts">
    <div class="product-item">
        <img src="https://i.imgur.com/Dhebu4F.jpg" class="product-item-img" alt="image">
        <div class="product-item-desc">
        </div>
        <div class="mt-4 mb-3"> 
            <span class="text-uppercase text-muted brand">Orianz</span>
            <div class="uk-child-width-1-2@s" uk-grid>
            <h5 class="text-uppercase">{{prd.product.name}}</h5>
         </div>
            <div> 
                <span class="act-price">${{prd.product.price}}</span>
            </div>
        </div>
        <div>
        <p>{{prd.product.description}}</p>
        </div>
    </div>
    </ng-container>

</section>