<div class="card" style="width:18rem;">
    <img [src]="prd?.imgPath" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Name: {{prd?.name}}</h5>
      <div class="card-text">
  
          <h5>Price:{{prd?.price}}</h5>
          <h5>Quantity:{{prd?.quantity}}</h5>
      </div>
      <a   class="btn btn-warning mx-auto"> <i class="fa fa-shopping-cart"></i>Add to Cart</a>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-danger" (click)="goBack()">Back</button>
    
    </div>
  </div>
