<header>
  <div class="container-fluid" style="background-color: #131921;">
    <div class="row p-2">
      <div class="col-md-2  mb-3 mb-md-0">
        <a href="#!" class="h-100 d-inline-block text-light">
          <img src="./assets/amazonlogo.png" class="w-75" />
          <span class="text-light">.eg</span>
        </a>
      </div>
      <div class="col-md-1">
          <a href="#" class="text-light h-100 badge badge-primary text-wrap" style="width: 6rem;">
            <i class="fa-solid fa-location-dot"></i>
            <span> {{'hello,enter your address'|translate}}</span>
        </a>
      </div>
      <div class="col-md-5">
        <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
          <select id="nav-search-select" class="all col-1">
            <option selected="selected" value="aps">{{'All'|translate}}</option>
            <option value="alexa-skills">{{'Alexa Skills'|translate}}</option>
            <option value="instant-video">{{'Amazon Video'|translate}}</option>
            <option value="warehouse-deals">{{'Amazon Warehouse Deals'|translate}}</option>
            <option value="appliances">{{'Appliances'|translate}}</option>
            <option value="mobile-apps">{{'Apps'|translate}} &amp; {{'Games'|translate}}</option>
            <option value="arts-crafts">{{'Arts'|translate}}, {{'Crafts'|translate}} &amp; {{'Sewing'|translate}}</option>
            <option value="automotive">{{'Automotive Parts'|translate}} &amp; {{'Accessories'|translate}}</option>
            <option value="baby-products">{{'Baby'|translate}}</option>
            <option value="beauty">{{'Beauty'|translate}} &amp; {{'Personal Care'|translate}}</option>
            <option value="stripbooks">{{'Books'|translate}}</option>
            <option value="popular">{{'CDs'|translate}} &amp; {{'Vinyl'|translate}}</option>
            <option value="mobile">{{'Cell Phones'|translate}} &amp; {{'Accessories'|translate}}</option>
            <option value="fashion">{{'Clothing'|translate}}, {{'Shoes'|translate}} &amp; {{'Jewelry'|translate}}</option>
            <option value="fashion-womens">&nbsp;&nbsp;&nbsp;{{'Women'|translate}}</option>
            <option value="fashion-mens">&nbsp;&nbsp;&nbsp;{{'Men'|translate}}</option>
            <option value="fashion-girls">&nbsp;&nbsp;&nbsp;{{'Girls'|translate}}</option>
            <option value="fashion-boys">&nbsp;&nbsp;&nbsp;{{'Boys'|translate}}</option>
            <option value="fashion-baby">&nbsp;&nbsp;&nbsp;{{'Baby'|translate}}</option>
            <option value="collectibles">{{'Collectibles'|translate}} &amp; {{'Fine Art'|translate}}</option>
            <option value="computers">{{'Computers'|translate}}</option>
            <option value="courses">{{'Courses'|translate}}</option>
            <option value="financial">{{'Credit and Payment Cards'|translate}}</option>
            <option value="digital-music">{{'Digital Music'|translate}}</option>
            <option value="electronics">{{'Electronics'|translate}}</option>
            <option value="gift-cards">{{'Gift Cards'|translate}}</option>
            <option value="grocery">{{'Grocery'|translate}} &amp; {{'Gourmet Food'|translate}}</option>
            <option value="handmade">{{'Handmade'|translate}}</option>
            <option value="hpc">{{'Health'|translate}}, {{'Household'|translate}} &amp; {{'Baby Care'|translate}}</option>
            <option value="local-services">{{'Home'|translate}} &amp; {{'Business Services'|translate}}</option>
            <option value="garden">{{'Home'|translate}} &amp; {{'Kitchen'|translate}}</option>
            <option value="industrial">{{'Industrial'|translate}} &amp; {{'Scientific'|translate}}</option>
            <option value="digital-text">{{'Kindle Store'|translate}}</option>
            <option value="fashion-luggage">{{'Luggage'|translate}} &amp; {{'Travel Gear'|translate}}</option>
            <option value="luxury-beauty">{{'Luxury Beauty'|translate}}</option>
            <option value="magazines">{{'Magazine Subscriptions'|translate}}</option>
            <option value="movies-tv">{{'Movies'|translate}} &amp; {{'TV'|translate}}</option>
            <option value="mi">{{'Musical Instruments'|translate}}</option>
            <option value="office-products">{{'Office Products'|translate}}</option>
            <option value="lawngarden">{{'Patio'|translate}}, {{'Lawn'|translate}} &amp; {{'Garden'|translate}}</option>
            <option value="pets">{{'Pet Supplies'|translate}}</option>
            <option value="prime-exclusive">{{'Prime Exclusive'|translate}}</option>
            <option value="pantry">{{'Prime Pantry'|translate}}</option>
            <option value="software">{{'Software'|translate}}</option>
            <option value="sporting">{{'Sports'|translate}} &amp; {{'Outdoors'|translate}}</option>
            <option value="tools">{{'Tools'|translate}} &amp; {{'Home Improvement'|translate}}</option>
            <option value="toys-and-games">{{'Toys'|translate}} &amp; {{'Games'|translate}}</option>
            <option value="vehicles">{{'Vehicles'|translate}}</option>
            <option value="videogames">{{'Video Games'|translate}}</option>
            <option value="wine">{{'Wine'|translate}}</option>
          </select>
          <input autocomplete="off" type="search" class="form-control rounded box col-10" placeholder="Search" />
          <span style=" background: rgb(247, 155, 80);" class="col-1 input-group-text border-0 d-lg-flex">
            <i class="fas fa-search text-white"></i>
          </span>
        </form>
      </div>
      
      <div class="col-md-4 d-flex justify-content-md-around align-items-center">
        <div class="d-flex">
          
          <div class="dropdown">
          
            <span class="form-inline">
              <select class="form-control" #selectedlang (change)="switchLanguage(selectedlang.value)">
                <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                  {{language}} 
                </option>
              </select>
            </span>
          </div>
          <a href="#" class="text-light badge badge-primary text-wrap" style="width: 6rem;">
            <span>{{'Hello,Account & Lists'|translate}}<i class="fa fa-sort-desc"></i></span>
          </a>
          <a href="#" class="text-light badge badge-primary text-wrap" style="width: 6rem;">
            <span>{{'Returns & Order'|translate}}</span>
          </a>
          <!-- Cart -->
          <a class="btn" href="#">
            <span><i class="fas fa-shopping-cart text-light"></i></span>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>

        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg" style="background-color: #232f3e;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a type="button" class="nav-link text-light" id="modal_view_left" 
              data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa fa-bars"></i>
                <span> {{'All'|translate}}</span>
              </a>
          </li>

       
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{'Mobile Phones'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{'Tv'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{'Electronics'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{'Clothes'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{'Sports'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{'Fashion'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{'Home'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{'Grocery'|translate}}</a>
          </li>

 
          <li class="nav-item" *ngFor="let c of categoryList" [value]="c.id">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{c.name}}</a>
          </li>
      
         
         
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/register" routerLinkActive="active">{{'Your amazon.eg'|translate}}</a>
          </li> -->
 

        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- left modal -->
<div class="modal modal_outer left_modal fade" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    
      <div class="modal-content ">
        <div class="modal-header" style="background-color: #232f3e;">
          <h2 class="modal-title text-light">{{'Hello&Sign in'|translate}}</h2>
          <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body get_quote_view_modal_body" id="m">
         
          <div class="fw-bold">{{'Treanding'|translate}}</div>
          <hr class="hr">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a class="text-black" routerLink="/register">{{'Best Seller'|translate}}</a>
            </li>
            <li class="list-group-item">
              <a class="text-black" routerLink="/register">{{'Fashion'|translate}}</a>
            </li>
            <li class="list-group-item">
              <a class="text-black" routerLink="/Categories">{{'Fashion'|translate}}</a>
            </li>
          </ul>

          <div class="fw-bold mt-4"> {{'Shop By Category'|translate}}</div>
          <hr class="hr">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a class="text-black" routerLink="/register">{{'Mobiles, Tablets & Accessories'|translate}}</a>
            </li>
            <li class="list-group-item">
              <a class="text-black" routerLink="/register">{{'Computers & Office Supplies'|translate}}</a>
            </li>
            <li class="list-group-item">
              <a class="text-black" routerLink="/register">{{"Women's Fashion"|translate}}</a>
            </li>
          </ul>
          
        </div>
      
      </div><!-- //modal-content -->
   
  </div><!-- modal-dialog -->
</div><!-- modal -->
<!-- //left modal -->
<!-- left modal -->