<header>
  <div class="container-fluid" style="background-color: #131921;">
    <div class="row p-2">
      <div class="col-md-2  mb-3 mb-md-0">
        <a href="#!" class="h-100 d-inline-block text-light">
          <img src="./assets/amazonlogo.png" class="w-75" />
          <span class="text-light">.eg</span>
        </a>
      </div>
      <div class="col-md-1">
          <a href="#" class="text-light h-100 badge badge-primary text-wrap" style="width: 6rem;">
            <i class="fa-solid fa-location-dot"></i>
            <span> hello,enter your address</span>
        </a>
      </div>
      <div class="col-md-5">
        <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
          <select id="nav-search-select" class="all col-1">
            <option selected="selected" value="aps">All</option>
            <option value="alexa-skills">Alexa Skills</option>
            <option value="instant-video">Amazon Video</option>
            <option value="warehouse-deals">Amazon Warehouse Deals</option>
            <option value="appliances">Appliances</option>
            <option value="mobile-apps">Apps &amp; Games</option>
            <option value="arts-crafts">Arts, Crafts &amp; Sewing</option>
            <option value="automotive">Automotive Parts &amp; Accessories</option>
            <option value="baby-products">Baby</option>
            <option value="beauty">Beauty &amp; Personal Care</option>
            <option value="stripbooks">Books</option>
            <option value="popular">CDs &amp; Vinyl</option>
            <option value="mobile">Cell Phones &amp; Accessories</option>
            <option value="fashion">Clothing, Shoes &amp; Jewelry</option>
            <option value="fashion-womens">&nbsp;&nbsp;&nbsp;Women</option>
            <option value="fashion-mens">&nbsp;&nbsp;&nbsp;Men</option>
            <option value="fashion-girls">&nbsp;&nbsp;&nbsp;Girls</option>
            <option value="fashion-boys">&nbsp;&nbsp;&nbsp;Boys</option>
            <option value="fashion-baby">&nbsp;&nbsp;&nbsp;Baby</option>
            <option value="collectibles">Collectibles &amp; Fine Art</option>
            <option value="computers">Computers</option>
            <option value="courses">Courses</option>
            <option value="financial">Credit and Payment Cards</option>
            <option value="digital-music">Digital Music</option>
            <option value="electronics">Electronics</option>
            <option value="gift-cards">Gift Cards</option>
            <option value="grocery">Grocery &amp; Gourmet Food</option>
            <option value="handmade">Handmade</option>
            <option value="hpc">Health, Household &amp; Baby Care</option>
            <option value="local-services">Home &amp; Business Services</option>
            <option value="garden">Home &amp; Kitchen</option>
            <option value="industrial">Industrial &amp; Scientific</option>
            <option value="digital-text">Kindle Store</option>
            <option value="fashion-luggage">Luggage &amp; Travel Gear</option>
            <option value="luxury-beauty">Luxury Beauty</option>
            <option value="magazines">Magazine Subscriptions</option>
            <option value="movies-tv">Movies &amp; TV</option>
            <option value="mi">Musical Instruments</option>
            <option value="office-products">Office Products</option>
            <option value="lawngarden">Patio, Lawn &amp; Garden</option>
            <option value="pets">Pet Supplies</option>
            <option value="prime-exclusive">Prime Exclusive</option>
            <option value="pantry">Prime Pantry</option>
            <option value="software">Software</option>
            <option value="sporting">Sports &amp; Outdoors</option>
            <option value="tools">Tools &amp; Home Improvement</option>
            <option value="toys-and-games">Toys &amp; Games</option>
            <option value="vehicles">Vehicles</option>
            <option value="videogames">Video Games</option>
            <option value="wine">Wine</option>
          </select>
          <input autocomplete="off" type="search" class="form-control rounded box col-10" placeholder="Search" />
          <span style=" background: rgb(247, 155, 80);" class="col-1 input-group-text border-0 d-lg-flex">
            <i class="fas fa-search text-white"></i>
          </span>
        </form>
      </div>
      <div class="col-md-4 d-flex justify-content-md-around align-items-center">
        <div class="d-flex">

          <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa fa-flag m-0 text-light"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#"><i class="united kingdom flag"></i>English
                  <i class="fa fa-check text-success ms-2"></i></a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="poland flag"></i>Arabic</a>
              </li>
            </ul>
          </div>
          <a href="#" class="text-light badge badge-primary text-wrap" style="width: 6rem;">
            <span>Hello,Account & Lists<i class="fa fa-sort-desc"></i></span>
          </a>
          <a href="#" class="text-light badge badge-primary text-wrap" style="width: 6rem;">
            <span>Returns & Order</span>
          </a>
          <!-- Cart -->
          <a class="btn" href="#">
            <span><i class="fas fa-shopping-cart text-light"></i></span>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>

        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg" style="background-color: #232f3e;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a type="button" class="nav-link text-light" id="modal_view_left" 
              data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa fa-bars"></i>
                <span> All</span>
              </a>
          </li>
 
          <li class="nav-item" *ngFor="let c of categoryList" [value]="c.id">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{c.name}}</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Order" routerLinkActive="active">Mobile Phones</a>
 
          <!-- <li class="nav-item" *ngFor="let c of categoryList" [value]="c.id">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">{{c.name}}</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">Mobile Phones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">Tv</a>
 
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">Electronics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">Clothes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">Fashion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
 
            <a class="nav-link text-light" routerLink="/register" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/register" routerLinkActive="active">Grocery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/register" routerLinkActive="active">Your amazon.eg</a>
          </li> -->
 
            <a class="nav-link text-light" routerLink="/Products" routerLinkActive="active">Grocery</a>
          <!-- </li> -->

        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- left modal -->
<div class="modal modal_outer left_modal fade" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    
      <div class="modal-content ">
        <div class="modal-header" style="background-color: #232f3e;">
          <h2 class="modal-title text-light">Hello&Sign in</h2>
          <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body get_quote_view_modal_body">
         
          <div class="fw-bold">Treanding</div>
          <hr class="hr">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a class="text-black" routerLink="/register">Best Seller</a>
            </li>
            <li class="list-group-item">
              <a class="text-black" routerLink="/register">Fashion</a>
            </li>
            <li class="list-group-item">
              <a class="text-black" routerLink="/Categories">Fashion</a>
            </li>
          </ul>

          <div class="fw-bold mt-4"> Shop By Category</div>
          <hr class="hr">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a class="text-black" routerLink="/register">Mobiles, Tablets & Accessories</a>
            </li>
            <li class="list-group-item">
              <a class="text-black" routerLink="/register">Computers & Office Supplies</a>
            </li>
            <li class="list-group-item">
              <a class="text-black" routerLink="/register">Women's Fashion</a>
            </li>
          </ul>
          
        </div>
      
      </div><!-- //modal-content -->
   
  </div><!-- modal-dialog -->
</div><!-- modal -->
<!-- //left modal -->
<!-- left modal -->