<div class="container mb-3">
   <div class="row">
        <img class="w-25 mx-auto" src="./assets/amazonblack.png" alt="">
    </div>
    <div class="row">
       <div class="col-md-5 card mx-auto mt-1">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form method="POST" action="#" role="form">
						<div class="form-group">
							<h2 class="fw-bold">Create account</h2>
						</div>
						<div class="form-group">
							<label class="control-label fw-bold" for="signupName">Your name</label>
							<input id="signupName" type="text" maxlength="50" class="form-control box">
						</div>
						<div class="form-group">
							<label class="control-label fw-bold" for="signupEmail">Email</label>
							<input id="signupEmail" type="email" maxlength="50" class="form-control box">
						</div>
						<div class="form-group">
							<label class="control-label fw-bold" for="signupPassword">Password</label>
							<input id="signupPassword" type="password" maxlength="25" class="form-control box" placeholder="at least 6 characters" length="40">
						</div>
						<div class="form-group">
							<label class="control-label fw-bold" for="signupPasswordagain">Password again</label>
							<input id="signupPasswordagain" type="password" maxlength="25" class="form-control box">
						</div>
						<div class="form-group mt-3">
							<button id="signupSubmit" type="submit" class="form-control btn-block" style="background-color:rgb(247, 155, 80);">Create your account</button>
						</div>
						<p class="form-group">By creating an account, you agree to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
						<hr>
						<p>Already have an account? <a routerLink="/login">Sign in</a></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>