<section>
  <div class="container-fluid mb-2" style="background-color: #eee;">
    <!-- Ads -->
    <div class="row">
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
            aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/slide_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/slide_2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/slide_3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/slide_4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/slide_5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/slide_6.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/slide_7.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{{'Previous'|translate}}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{{'Next'|translate}}</span>
        </button>
      </div>
    </div>
    <!-- Product -->
    <div class="row">
      <div class="col-sm-4  col-xl-3 col-md-6 my-4">
        <div class="card text-black">
          <p class="fw-bolder ms-1 mt-1">{{'Amazon warehouse deals | Up to 60% off'|translate}}</p>
          <div class="row mx-auto d-flex justify-content-star">
            <a href="#" class="col-6 text-center">
              <img class="img-thumbnail" src="./assets/product_1.jpg" alt="Product 1">
              <span class="caption">{{'Home'|translate}}</span>
            </a>
            <a href="#" class="col-6 text-center">
              <img class="img-thumbnail" src="./assets//product_2.jpg" alt="Product 2">
              <span class="caption">{{'Bluetooth'|translate}}</span>
            </a>
          </div>
          <a href="#" class="text-underline-hover mt-3 ms-1 mb-2">{{'See more'|translate}}</a>
        </div>
      </div>
      <div class="col-sm-4  col-xl-3 col-md-6 my-4 d-flex align-items-stretch ">
        <div class="card text-black">
          <p class="fw-bolder ms-1 mt-1">{{'Clearance Sale | Up to 50% off'|translate}}</p>
          <div class="row mx-auto d-flex justify-content-around">
            <a href="#">
              <img class="w-100" src="./assets/sale.jpg" alt="Product 1">
            </a>
            <a href="#" class="text-underline-hover  mt-3 ms-1 mb-2">{{'See more'|translate}}</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xl-3 col-md-6 my-4 d-flex align-items-stretch">
        <div class="card text-black">
          <p class="fw-bolder ms-1 mt-1">{{'Makeup | New arrivals'|translate}}</p>
          <div class="row mx-auto d-flex justify-content-around">
            <a href="#">
              <img class="w-100" src="./assets/makeup.jpg" alt="Product 1">
            </a>
            <a href="#" class="text-underline-hover  mt-3 ms-1 mb-2">{{'See more'|translate}}</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4  col-xl-3 col-md-6 my-4  d-flex align-items-stretch">
        <div class="card text-black">
          <p class="fw-bolder ms-1 mt-1">{{"Men's Clothes | Up to 70%"|translate}}</p>
          <div class="row mx-auto d-flex justify-content-around">
            <a href="#">
              <img class="w-100" src="./assets/man.jpg" alt="Product 1">
            </a>
            <a href="#" class="text-underline-hover  mt-3 ms-1 mb-2">{{'See more'|translate}}</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="hr">
    <!-- treandingproduct -->
    <div class="row">
      <h2>Featured <b>Products</b></h2>
      <span style="	text-align: center;" class="mt-4"><a class="mx-auto" href="">{{'see more'|translate}} </a></span>
      <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-around">
              <div class="card col-4  my-4 text-black">
                <p class="fw-bolder ms-1 mt-1">{{'Makeup | New arrivals'|translate}}</p>
                <div class="row mx-auto d-flex justify-content-around">
                  <a href="#">
                    <img class="w-100" src="./assets/makeup.jpg" alt="Product 1">
                  </a>
                  <a href="#" class="text-underline-hover  mt-3 ms-1 mb-2">{{'See more'|translate}}</a>
                </div>
              </div>
              <div class="card col-4  my-4 text-black">
                <p class="fw-bolder ms-1 mt-1">{{"Men's Clothes | Up to 70%"|translate}}</p>
                <div class="row mx-auto d-flex justify-content-around">
                  <a href="#">
                    <img class="w-100" src="./assets/man.jpg" alt="Product 1">
                  </a>
                  <a href="#" class="text-underline-hover  mt-3 ms-1 mb-2">{{'See more'|translate}}</a>
                </div>
              </div>
              <div class="card col-4  my-4 text-black">
                <p class="fw-bolder ms-1 mt-1">{{'Clearance Sale | Up to 50% off'|translate}}</p>
                <div class="row mx-auto d-flex justify-content-around">
                  <a href="#">
                    <img class="w-100" src="./assets/sale.jpg" alt="Product 1">
                  </a>
                  <a href="#" class="text-underline-hover  mt-3 ms-1 mb-2">{{'See more'|translate}}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-around">
              <div class="card col-4  text-black">
                <p class="fw-bolder ms-1 mt-1">{{'Clearance Sale | Up to 50% off'|translate}}</p>
                <div class="row mx-auto d-flex justify-content-around">
                  <a href="#">
                    <img class="w-100" src="./assets/product_1.jpg" alt="Product 1">
                  </a>
                  <a href="#" class="text-underline-hover  mt-3 ms-1 mb-2">{{'See more'|translate}}</a>
                </div>
              </div>
              <div class="card col-4 text-black">
                <p class="fw-bolder ms-1 mt-1">{{'Clearance Sale | Up to 50% off'|translate}}</p>
                <div class="row mx-auto d-flex justify-content-around">
                  <a href="#">
                    <img class="w-100" src="./assets/product_2.jpg" alt="Product 1">
                  </a>
                  <a href="#" class="text-underline-hover  mt-3 ms-1 mb-2">See more</a>
                </div>
              </div>
              <div class="card col-4 text-black">
                <p class="fw-bolder ms-1 mt-1">{{'Clearance Sale | Up to 50% off'|translate}}</p>
                <div class="row mx-auto d-flex justify-content-around">
                  <a href="#">
                    <img class="w-100" src="./assets/product_2.jpg" alt="Product 1">
                  </a>
                  <a href="#" class="text-underline-hover  mt-3 ms-1 mb-2">{{'See more'|translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{{'Previous'|translate}}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{{'Next'|translate}}</span>
        </button>
      </div>
    </div>

    <hr class="hr">
    <!-- new product -->
    <div class="row">
      <h2>{{'Best'|translate}} <b>{{'Seller'|translate}}</b></h2>
      <span style="	text-align: center;" class="mt-4"><a class="mx-auto" href="">{{'see more'|translate}} </a></span>
      <div id="bestSeller" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-around">
              <div class="card col-4  my-4 text-black"> 
      
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">{{"Today's Combo Offer"|translate}}</p>
                    <div
                      class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                      style="width: 35px; height: 35px;">
                      <p class="text-white mb-0 small">x4</p>
                    </div>
                  </div>
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/4.webp"
                    class="card-img-top" alt="Laptop" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small"><a href="#!" class="text-muted">{{'Laptops'|translate}}</a></p>
                      <p class="small text-danger"><s>{{'1099'|currency}}</s></p>
                    </div>
        
                    <div class="d-flex justify-content-between mb-3">
                      <h5 class="mb-0">{{'HP Notebook'|translate}}</h5>
                      <h5 class="text-dark mb-0">{{'999'|translate}}</h5>
                    </div>
        
                    <div class="d-flex justify-content-between mb-2">
                      <p class="text-muted mb-0">{{'Available'|translate}}: <span class="fw-bold">6</span></p>
                      <div class="ms-auto text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <a routerLink="/register" class="btn btn-warning mx-auto"> <i class="fa fa-shopping-cart"></i>{{'Add to Cart'|translate}}</a>

                  </div>
    
              </div>
              <div class="card col-4  my-4 text-black">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">{{"Today's Combo Offer"|translate}}</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x4</p>
                  </div>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/4.webp"
                  class="card-img-top" alt="Laptop" />
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">{{'Laptops'|translate}}</a></p>
                    <p class="small text-danger"><s>{{'1099'|currency}}</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">{{'HP Notebook'|translate}}</h5>
                    <h5 class="text-dark mb-0">{{'999'|currency}}</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">{{'Available'|translate}}: <span class="fw-bold">6</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <a href="#" class="btn btn-warning mx-auto"> <i class="fa fa-shopping-cart"></i>{{'Add to Cart'|translate}}</a>

                </div>
              </div>
              <div class="card col-4  my-4 text-black">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">{{"Today's Combo Offer"|translate}}</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x4</p>
                  </div>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/4.webp"
                  class="card-img-top" alt="Laptop" />
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">{{'Laptops'|translate}}</a></p>
                    <p class="small text-danger"><s>{{'1099'|currency}}</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">{{'HP Notebook'|translate}}</h5>
                    <h5 class="text-dark mb-0">{{'999'|currency}}</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">{{'Available'|translate}}: <span class="fw-bold">6</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <a href="#" class="btn btn-warning mx-auto"> <i class="fa fa-shopping-cart"></i>{{'Add to Cart'|translate}}</a>
                </div> 
              </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-around">
              <div class="card col-4  my-4 text-black">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">{{"Today's Combo Offer"|translate}}</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x4</p>
                  </div>
                </div>
                <img src="./assets/product_1.jpg"
                  class="card-img-top" alt="Laptop" />
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">{{'Laptops'|translate}}</a></p>
                    <p class="small text-danger"><s>{{'1099'|currency}}</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">{{'HP Notebook'|translate}}</h5>
                    <h5 class="text-dark mb-0">{{'999'|currency}}</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">{{'Available'|translate}}: <span class="fw-bold">6</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>

                  </div>
                  <a href="#" class="btn btn-warning mx-auto"> <i class="fa fa-shopping-cart"></i>{{'Add to Cart'|translate}}</a>

                </div>
              </div>
              <div class="card col-4  my-4 text-black">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">Today's Combo Offer</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x4</p>
                  </div>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/4.webp"
                  class="card-img-top" alt="Laptop" />
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">{{'Laptops'|translate}}</a></p>
                    <p class="small text-danger"><s>{{'1099'|currency}}</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">{{'HP Notebook'|translate}}</h5>
                    <h5 class="text-dark mb-0">{{'999'|currency}}</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">{{'Available'|translate}}: <span class="fw-bold">6</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <a href="#" class="btn btn-warning mx-auto"> <i class="fa fa-shopping-cart"></i>{{'Add to Cart'|translate}}</a>

                </div>
              </div>
              <div class="card col-4  my-4 text-black">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">{{"Today's Combo Offer"|translate}}</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x4</p>
                  </div>
                </div>
                <img src="./assets/product_2.jpg"
                  class="card-img-top" alt="Laptop" />
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">{{'Laptops'|translate}}</a></p>
                    <p class="small text-danger"><s>{{'1099'|currency}}</s></p>
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">HP Notebook</h5>
                    <h5 class="text-dark mb-0">{{'999'|currency}}</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">{{'Available'|translate}}: <span class="fw-bold">6</span></p>
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                    

                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#bestSeller"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#bestSeller"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{{'Next'|translate}}</span>
        </button>
      </div>
    </div>

  </div>
</section>