<div class="row">
    <div class="col-xl-2">
     <h5 class="text-center mt-3">SHOP BY </h5>
     <div class="row">
     </div>
     <div class="row">
       <div class=" mt-3 h6"><b>Brand:</b>
         <select class="form-control"[(ngModel)]="selectedBrandID">
           <option value="0">All</option>
           <option *ngFor="let brand of brandList" [value]="brand.id">{{brand.name}}</option>
         </select>
      
       </div>
     </div>

    </div>
    <div class="col-xl-10">
     <app-product [receivedBrandID]="selectedBrandID" [receivedCatName]="currentcatName" [receivedCatId]="catID"></app-product>
 </div>
 </div>
 