<div class="row">
   <div class="col-xl-2 bg-danger">
    <h5 class="text-center mt-3">SHOP BY </h5>
    <div class="row">
      <div class=" mt-3 h6"><b>Category:</b>
        <select class="form-control"[(ngModel)]="selectedCatID">
          <option value="0">All</option>
          <option *ngFor="let c of categoryList" [value]="c.id">{{c.name}}</option>
        </select>
        {{selectedCatID}}
      </div>
    </div>
    <div class="row">
      <div class=" mt-3 h6"><b>Brand:</b>
        <select class="form-control"[(ngModel)]="selectedCatID">
          <option value="0">All</option>
          <option *ngFor="let c of categoryList" [value]="c.id">{{c.name}}</option>
        </select>
        {{selectedCatID}}
      </div>
    </div>
    
 
   </div>
   <div class="col-xl-10 bg-success">
    <app-sub-products [receivedCatID]="selectedCatID"></app-sub-products>
</div>
</div>

